<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CountdownTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <CountdownTimer.Properties.Settings>
            <setting name="VerticalAlign" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HorizontalAlign" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Vertical_px" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Horizontal_px" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Screen" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CountUntil" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Text_before_text" serializeAs="String">
                <value />
            </setting>
            <setting name="Text_after_text" serializeAs="String">
                <value />
            </setting>
            <setting name="Text_before" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Text_after" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CountFrom" serializeAs="String">
                <value>11/30/2017 00:05:00</value>
            </setting>
            <setting name="end_quit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="end_flash" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Segoe Script, 72pt</value>
            </setting>
            <setting name="BorderWidth" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="FontColour" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="BorderColour" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="BackgroundColour" serializeAs="String">
                <value />
            </setting>
            <setting name="BackgroundTransparent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="end_flash_seconds" serializeAs="String">
                <value>6</value>
            </setting>
        </CountdownTimer.Properties.Settings>
    </userSettings>
</configuration>